h1{
    color:brown;
}
a{
    color:red;
}
p{
    font-size: larger;
    color: springgreen;
}
 /* *{
    border:solid;
}  */
.header{
    background-color: yellow;
    display:flex;
    justify-content :space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: royalblue;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.siteDescription{
    text-align:center;
}
.item{
    text-align:center;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: thistle;
}